<?php
/**
 * Elogic Wishlist - move to wishlist
 * Overridden to add ajax UI component
 */

/** @var \Magento\Wishlist\Block\Cart\Item\Renderer\Actions\MoveToWishlist $block */
/** @var \Elogic\Wishlist\Helper\Helper $helper */
/** @var \Magento\Framework\Escaper $escaper */
?>
<?php if ($block->isAllowInCart() && $block->isProductVisibleInSiteVisibility()) : ?>
    <?php $helper = $this->helper('Elogic\Wishlist\Helper\Helper');
    if ($helper && $helper->isAjaxWishlistEnabled()) : ?>
        <div data-bind="scope: 'ajaxWishlist-<?= $block->getItem()->getId() ?>'">
            <!-- ko ifnot: isInWishlist(currentProductId) -->
            <a class="action towishlist" data-bind="click: ajaxAddToWishlist">
                <span data-bind="i18n: 'add to wishlist'"></span>
            </a>
            <!-- /ko -->

            <!-- ko if: isInWishlist(currentProductId) -->
            <a class="action remove" data-bind="click: ajaxRemoveFromWishlist">
                <span data-bind="i18n: 'remove from wishlist'"></span>
            </a>
            <!-- /ko -->
        </div>

        <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "ajaxWishlist-<?= $block->getItem()->getId()  ?>": {
                                "component": "Elogic_Wishlist/js/components/ajax-wishlist",
                                "currentProductId": <?= /* @noEscape */ $block->getItem()->getId() ?>,
                                "wishlistParams": <?= /* @noEscape */json_encode($block->getMoveFromCartParams()) ?>
                            }
                        }
                    }
                }
            }
        </script>
    <?php else: ?>
        <a href="#"
           data-post='<?= /* @noEscape */ $block->getMoveFromCartParams() ?>'
           class="use-ajax action towishlist action-towishlist">
            <span><?= $block->escapeHtml(__('Move to Wishlist')) ?></span>
        </a>
    <?php endif ?>
<?php endif ?>
