<?php
/**
 * Elogic Wishlist - Remove all button
 * Adds "remove all items from wishlist" button
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Remove $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<?php  if ($block->getWishlist()->getItemsCount()) : ?>
    <button class="action action remove button-wishlist-remove-all-items"
            title="<?= $escaper->escapeHtmlAttr(__('Delete all')) ?>"
            data-mage-init='{"wishlistRemoveAll": {"ajaxUrl": "/wishlist/index/removeall"}}'>
        <span><?= $escaper->escapeHtml(__('Delete all')) ?></span>
    </button>
<?php endif; ?>
